*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: "Inter", sans-serif;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .25em;
}

h3 { 
    color: hsl(75, 94%, 57%);
    font-size: .7rem;
    font-weight: 600;
    margin-bottom: 1.5em;
}

p {
    font-size: .7rem;
    font-weight: 400;
    opacity: .8;
    margin-bottom: 1.25em;
    padding: 0 .5em;
}

.profile-container { 
    padding: 1.5em 1.25em 1.25em;
    text-align: center;
    border-radius: .5em;
    background: hsl(0, 0%, 12%);
    min-width: 260px;
}

img {   
    width: 3.75rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1.5em;
}

li {
    list-style: none;
}

li > a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-size: .75rem;
    font-weight: 600;
    display: block;
    padding: .75em 0;
    margin-bottom: 1em;
    border-radius: .5em;
    background: hsl(0, 0%, 20%);
}

ul > li:last-child > a { 
    margin-bottom: 0;
}

/* hover and focus state */

li > a:hover, li > a:focus {
    background: hsl(75, 94%, 57%);
    color: #333;
}

@media (min-width: 376px) { 
    .profile-container { 
        padding: 2em;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: .6rem;
    }

    p {
        font-size: .6rem;
        font-weight: 400;
        opacity: 1;
        margin-bottom: 1.25em;
        padding: 0 1.5em;
    }

    li > a {
        font-size: .6em;
    }
}